.accept
  h1 Acceptance Confirmation Email
  
  form(name='acceptEmail', ng-submit='')
    .property
      h3 Property
      select(ng-model='properties.items')
        option(ng-repeat='property in properties.items', value='property._id') {{property.displayAddress}}
    .applicant
      h3 Applicant
      .form-row
        .input-holder
          label Title
          select(ng-model='')
            option(value='mr') Mr.
            option(value='mrs') Mrs.
            option(value='miss') Miss.
            option(value='dr') Dr.
        .input-holder
          label First Name
          input(type='text', ng-model='')
        .input-holder
          label Last Name
          input(type='text', ng-model='')
        .email-holder
          label Email
          input(type='email', ng-model='')
    .rental-terms
      h3 Rental Terms
      .form-row
        .input-holder
          label Tenancy Terms
          select(ng-model='')
            option(value='6', selected) 6 Months
            option(value='12') 12 Months
            option(value='24') 24 Months
        .input-holder
          label Proposed Moving in Date
          input(type='date', ng-model='')
        .input-holder
          label Agreed Monthly Rent
          input(type='text', ng-model='')
    .employment
      h3 Employment Status
      .input-holder
        ul.radio
          li
            input(type='radio', ng-modal='')
            label Employed
          li
            input(type='radio', ng-modal='')
            label Self-Employed
    .controls.right
      button(type='button', ng-click='cancel()') Cancel
      input(type='submit', value='Submit')
      