.row
  h4 {{title}}
  .tenant-details
    .card.col-sm-6(ng-repeat='tenant in data()')
      a.edit-btn(href='', ng-click='edit()', ng-hide='editing')
        i.fal.fa-edit(aria-hidden='true')
      div(ng-show='tenant.Person.ContactName || editing')
        .name
          span(ng-hide='editing') 
            i.fal.fa-user-tie 
            |  {{tenant.Person.ContactName}}
          input(type='text', ng-model='tenant.Person.ContactName', ng-show='editing', placeholder='Name')
        .communication
          .telephone(ng-show='tenant.Person.PrimaryTelephone.Value || editing')
            span(ng-hide='editing') 
              i.fal.fa-mobile
              |  {{tenant.Person.PrimaryTelephone.Value}}
            input(type='text', ng-model='tenant.Person.PrimaryTelephone.Value', ng-show='editing', placeholder='Telephone')
          .email(ng-show='tenant.Person.PrimaryEmail.Value || editing')
            span(ng-hide='editing')
              a.mail-link(href='mailto:{{tenant.Person.PrimaryEmail.Value}}') 
                i.fal.fa-at
                |  {{tenant.Person.PrimaryEmail.Value}}
            input(type='email', ng-model='tenant.Person.PrimaryEmail.Value', ng-show='editing', placeholder='Email')
        .controls(ng-show='editing')
          button(ng-click='confirm()') OK
      div(ng-hide='tenant.Person.ContactName || editing')
        .role No details set