.progression(ng-class='{editing:editing()}')
  div(ng-hide='$parent.editor')
    .heading
      h5 Case - {{progression.side}}'s side - {{progression.name}} - {{property.item.displayAddress}}
      .controls(ng-show='auth.checkRoles(["admin","superadmin"])')
        a(href='', ng-click='moveUp()')
          i.far.fa-sort-up(aria-hidden='true')
        a(href='', ng-click='moveDown()')
          i.far.fa-sort-down(aria-hidden='true')
        a(href='', ng-click='remove()')
          i.far.fa-times-circle(aria-hidden='true')
  div(ng-show='$parent.editor')
    .heading(ng-hide='editing()')
      h5 {{progression.name}}, {{progression.side}}
      .controls(ng-show='auth.checkRoles(["admin","superadmin"])')
        a(href='', ng-click='moveUp()')
          i.far.fa-sort-up(aria-hidden='true')
        a(href='', ng-click='moveDown()')
          i.far.fa-sort-down(aria-hidden='true')
        a(href='', ng-click='remove()')
          i.far.fa-times-circle(aria-hidden='true')
      .controls
        a(href='', ng-click='edit();') 
          | Edit
          i.far.fa-edit(aria-hidden='true')
    .heading(ng-show='editing()')
      .inputs
        label
          span Name
          input(type='text', ng-model='progression.name', placeholder='Name')
        label(for='default{{$index}}')
          span Default
          input(type='checkbox', id='default{{$index}}', ng-model='progression.isdefault')
      .btn-group
        input(type='radio', name='side{{$index}}', id='side-buyer{{$index}}', ng-model='progression.side', value='Tenant')
        label(for='side-buyer{{$index}}') Tenant
        input(type='radio', name='side{{$index}}', id='side-seller{{$index}}', ng-model='progression.side', value='Landlord')
        label(for='side-seller{{$index}}') Landlord
  .milestones
    canvas
    .branch(ng-repeat='branch in progression.milestones')
      milestone(ng-repeat='milestone in branch', data='milestone', disabled='{{$parent.$parent.$parent.editor && !$parent.$parent.editing()}}')
      a.new-milestone(href='', ng-click='addMilestone(branch)', ng-class='{hidden:$first}') +
    .branch.new
      a.new-milestone(href='', ng-click='addMilestone()') +
  .save
    button(ng-click='saveProgression()') Save Progression
    button(ng-click='cancel()') Cancel