.dashboard-route
  h1 Dashboard
  .overview
    .thead
      .tr
        .th(colspan='2') Overview of live cases
    .tbody
      .tr.head-two
        .td Status
        .td Sale Position
      .tr(ng-repeat='di in items = (dashboard.items | filter:{type:"overview"})')
        .td {{di.name}}
        .td.clickable(ng-click='showInfo("count", di, month)') {{count(di)}}
      .tr.total
        .td Total
        .td {{total(items)}}
  .progressions(ng-show='properties.total')
    h2 Progression
    table
      thead
        tr
          th
          th(ng-repeat='milestone in properties.items[0].progressions[0].milestones') {{milestone[0].title}}
      tbody(ng-repeat='property in properties.items')
        tr
          td {{property.displayAddress}}
          td(ng-repeat='milestone in property.progressions[0].milestones') {{milestone[0].completed ? 'Tick' : 'Cross'}}
  