.dashboard-route
  h1 Dashboard
  .overview
    .thead
      .tr
        .th(colspan='2') Overview of live cases
    .tbody
      .tr.head-two
        .td Status
        .td Sale Position
      .tr.available-props
        .td 
          a(href='/available') Available Properties
        .td {{available.total}}
      .tr(ng-repeat='di in items = (dashboard.items | filter:{type:"overview"})')
        .td {{di.name}}
        .td.clickable(ng-click='showInfo("count", di, month)') {{count(di)}}
      .tr.total
        .td Total
        .td {{total(items)}}
  .progressions(ng-show='properties.total')
    h2 Progression
    table.summary
      thead
        tr
          th
          th 
            a.sort.rotate(href='', ng-click='sort="-milestone.startTime"', ng-class='{selected:sort==="-startTime"}') DOA
          th 
            a.sort.rotate(href='', ng-click='sort="proposedMoving"', ng-class='{selected:sort==="proposedMoving"}') Move In (est)
          th(ng-repeat='milestone in buyerProgression.milestones | flatten')
            p.rotate {{milestone.title}}
      tbody(ng-repeat='property in properties.items | orderBy:sort')
        tr
          td 
            a(ui-sref='case({roleId:property.RoleId})') {{property.Address.Number}} {{property.Address.Street}}
            p.service-level {{property.ServiceLevel.Name[0]}}
          td
            p.date {{property.milestone.startTime | date:'dd.MM.yy'}}
          td
            p.date {{property.proposedMoving | date:'dd.MM.yy'}}
          td(ng-repeat='milestone in property.progressions[0].milestones | flatten')
            i.fal(ng-class='milestone.completed ? "fa-check" : "fa-times"')
  